html{
	height: 100%;
	width: 100%;
	font-size: 16px;
}

body {
	margin:auto;
	height: 100%;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.container{
	max-width: 1200px;
	  width: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-flow: row wrap;
}


h1,h2,h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}


h1 {
	font-size: 1.875em;
}


h2 {
	font-size: 1.125em;
}


h3 {
	font-size: .75em;
}


p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

.main-title span{
	font-style: italic;
	font-weight: bold;
	color: #77a466;
}


header {
	width: 100%;
	text-align: center;
}


header h1 {
	margin: 0;
	padding: 25px 0;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	width: 100%;
}


header h1 span {
	color: #77a466;
}


header nav {
	max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
padding: 35px 0;
}


header nav ul{
	margin: 0;
	padding: 0;
}


header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}


header nav ul li a{
	text-decoration: none;
	color:#77a466;
}


.top-section,
.bottom-section {
	max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column;
}


.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}


.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}


.section-one,
.section-two,
.section-three {

	width: 100%;
  border-top: 1px solid #eee;
}





.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-one h3,
.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}





.challenge span,
.success span,
.learn span {
	font-style: oblique;
	font-weight: bold;
}


.success {
	max-width: 1200px;
  width: 80%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.end-title h2 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}


.conclusion{
	padding-left: 40px;
	padding-right: 40px;

}



footer {
	max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}


footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}




@media (min-width: 768px){
	.bottom-section {
    width: 100%;
	  display: flex;
	  justify-content: center;
	  align-items:center;
	  flex-flow:row wrap;
	}

.section-one,
.section-two,
.section-three {
			text-align:left;
			width: 33%;
			height:600px;
}

.section-one {
		flex-grow: 3;
	}
}



@media (min-width: 1200px){
header{
	display: flex;
	justify-content:center;
	align-items:center;
}


header h1 {
	text-align: left;
  margin: 0;
	padding: 0;
	border-bottom: none;
	margin: 0 auto;
}


header nav ul li {
	display: inline;
	float: left;
	clear: right;
}



.section-one,
.section-two,
.section-three {
			text-align:left;
			width: 33%;
			height:500px;
}


}
